body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  color: white;
  font-family: "Afacad", sans-serif;
}

#landing-page {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  display: inline-block;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background: black;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.081), (0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100000;
  margin-right: 20px;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.nav-list {
  display: flex;
  list-style: none;
  padding-right: 20px;
}

ul {
  margin-bottom: 0px;
}

.nav-list li {
  margin-left: 30px;
}

.nav-list li a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff40;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: #dfff27;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 60px;
    right: -100%;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    color: #fff;
  }

  .nav-list li {
    margin: 20px 0;
  }

  .nav-list.open {
    right: 0;
  }

  .menu-toggle {
    display: flex;
  }
}

#quote {
  font-size: 40px;
  margin-top: 300px;
  text-align: center;
  width: 100vw;
  scroll-snap-align: start;
}

#word-highlight {
  color: #dfff27;
}

#about-me {
  display: flex;
  align-items: first baseline;
  justify-content: flex-start;
  background-color: #dfff27;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.image-me {
  height: 500px;
  cursor: pointer;
  margin: 16px auto;
  display: block;
}

.horizontal-wrap {
  display: flex;
  width: 200vw;
}
